<div class="header">
  <h1>{{ isEditMode ? 'Editare Rată de Impozitare' : 'Rată de Impozitare Nouă' }}</h1>
</div>
<form [formGroup]="typeForm" (ngSubmit)="onSubmit()">
  <div>
    <h4>Preferinţe generale</h4>
    <h6 class="descr-subsection">Taxa incluzivă este calculată în prețul elementului. Impozitul combinat este calculat pe partea superioară a celorlalte impozite. Impozitul fix se aplică ca sumă, nu ca procent.</h6>
    <div class="separator-line"></div>

    <div class="subsection">
      <div class="double-input-container">
        <div class="input-wrapper">
          <label for="name">Nume</label>
          <input
            id="name"
            formControlName="name"
            type="text"
            placeholder="Introduceți Nume"
          />
        </div>

        <div class="input-wrapper">
          <label for="tax">Impozit(%)</label>
          <input
            id="tax"
            formControlName="tax"
            type="number"
            placeholder="Introduceți impozit (%)"
          />
        </div>
      </div>

      <div class="single-input-wrapper">
        <label for="type">Tip</label>
        <select id="type" formControlName="type">
          <option value="" disabled selected>Selectează tip</option>
          <option *ngFor="let type of types" [value]="type.id">
            {{ type.name }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="button-container">
    <button class="button content" type="submit">Salvează</button>
  </div>
</form>