<form [formGroup]="typeForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Nume</label>
    <input
      id="name"
      formControlName="name"
      type="string"
      placeholder="Introduceți nume"
    />
  </div>

  <div>
    <label for="tax">Impozit(%)</label>
    <input
      id="tax"
      formControlName="tax"
      type="string"
      placeholder="Introduceți impozit (%)"
    />
  </div>

  <div>
    <label for="type">Tip</label>
    <select id="type" formControlName="type">
      <option value="" disabled selected>Selectează tip</option>
      <option *ngFor="let type of types" [value]="type.id">
        {{ type.name }}
      </option>
    </select>
    <button type="submit">Salvează</button>
  </div>
  </form>

