<div class="header">
  <h1>Transacție Nouă</h1>
</div>
<form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
  <div>
    <h4>Preferinţe generale</h4>
    <h6 class="descr-subsection">Introduceți informațiile generale ale tranzacției.</h6>
    <div class="separator-line"></div>

    <div class="subsection">
      <div class="double-input-container">
        <div class="input-wrapper">
          <label for="date">Dată</label>
          <input id="date" formControlName="date" type="date">
        </div>
      
        <div class="input-wrapper">
          <label for="methodOfPayment">Metodă de Plată</label>
          <select id="methodOfPayment" formControlName="methodOfPayment">
            <option *ngFor="let method of paymentMethods" [value]="method.id">{{ method.name }}</option>
          </select>
        </div>
      </div>

      <div class="double-input-container">
        <div class="input-wrapper">
          <label for="direction">Direcția Tranzacției</label>
          <select id="direction" formControlName="direction">
            <option *ngFor="let direction of transactionDirections" [value]="direction.id">{{ direction.name }}</option>
          </select>
        </div>
      
        <div class="input-wrapper">
          <label for="account">Cont</label>
          <select id="account" formControlName="account">
            <option *ngFor="let account of accounts" [value]="account.id">{{ account.name }}</option>
          </select>
        </div>
      </div>
      
      <div class="double-input-container">
        <div class="input-wrapper">
          <label for="sum">Suma</label>
          <input id="sum" formControlName="sum" type="number" step="0.01">
        </div>

        <div class="input-wrapper">
          <label for="category">Categorie</label>
          <select id="category" formControlName="category">
            <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
          </select>
        </div>

        <div class="input-wrapper">
          <label for="description">Descriere</label>
          <textarea id="description" formControlName="description" rows="3" placeholder="Introduceți Descriere"></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="section-delimiter simple-section">
    <h4>Adaugă Factură</h4>
    <h6 class="descr-subsection">Introduceți factura asociata tranzacției.</h6>
    <div class="separator-line"></div>
    <div class="subsection">
      <div class="double-input-container">
        <div class="input-wrapper">
          <label for="invoice">Factură</label>
          <select id="invoice" formControlName="invoice">
            <option *ngFor="let invoice of invoices" [value]="invoice.id">{{ invoice.name }}</option>
          </select>
        </div>

        <div class="input-wrapper">
          <label for="reference">Referință</label>
          <input id="reference" formControlName="reference" type="text" placeholder="Introduceți Referință"/>
        </div>
      </div>
    </div>
  </div>

  <div class="button-container">
    <button class="button content" type="submit">Salvează tranzacția</button>
  </div>
</form>