<div class="header">
  <h1>Factura</h1>
</div>
<form [formGroup]="preferencesForm" (ngSubmit)="onSubmit()">
  <div>
    <h4>Preferinţe generale</h4>
    <div class="separator-line"></div>

    <div class="subsection">
      <div class="double-input-container">
        <div class="input-wrapper">
          <label for="prefix">Prefix</label>
          <input id="prefix" formControlName="prefix" type="text" placeholder="Introduceți Prefix">
        </div>
      
        <div class="input-wrapper">
          <label for="nextNumber">Număr</label>
          <input id="nextNumber" formControlName="nextNumber" type="number">
        </div>
      </div>

      <div class="double-input-container">
        <div class="input-wrapper">
          <label for="numberOfDecimals">Număr zecimale</label>
          <input id="numberOfDecimals" formControlName="numberOfDecimals" type="number">
        </div>
      
        <div class="input-wrapper">
          <label for="title">Titlu</label>
          <input id="title" formControlName="title" type="text" placeholder="Introduceți Titlu">
        </div>
      </div>
    
      <div class="single-input-wrapper">
        <label for="note">Note</label>
        <textarea id="note" formControlName="note" placeholder="Introduceți Note"></textarea>
      </div>
    
      <div class="double-input-container">
        <div class="input-wrapper">
          <label for="subantet">Subantet</label>
          <input id="subantet" formControlName="subantet" type="text" placeholder="Introduceți Subantet">
        </div>
      
        <div class="input-wrapper">
          <label for="subsol">Subsol</label>
          <input id="subsol" formControlName="subsol" type="text" placeholder="Introduceți Subsol">
        </div>
      </div>
    </div>
  </div>
  <div class="button-container">
    <button class="button content" type="submit">Salvează preferințele</button>
  </div>
</form>