<div class="header">
  <h1>Transfer Nou</h1>
</div>
<form [formGroup]="transferForm" (ngSubmit)="onSubmit()">
  <div>
    <h4>Preferinţe generale</h4>
    <h6 class="descr-subsection">Transferă bani între conturi.</h6>
    <div class="separator-line"></div>

    <div class="subsection">
      <div class="double-input-container">
        <div class="input-wrapper">
          <label for="fromBankAccountId">Cont Plătitor *</label>
          <select id="fromBankAccountId" formControlName="fromBankAccountId">
            <option *ngFor="let account of accounts" [value]="account.id">{{ account.name }}</option>
          </select>
          <app-validation-message [control]="transferForm.get('fromBankAccountId')!"></app-validation-message>
        </div>
      
        <div class="input-wrapper">
          <label for="toBankAccountId">Cont Beneficiar *</label>
          <select id="toBankAccountId" formControlName="toBankAccountId">
            <option *ngFor="let account of accounts" [value]="account.id">{{ account.name }}</option>
          </select>
          <app-validation-message [control]="transferForm.get('toBankAccountId')!"></app-validation-message>
        </div>
      </div>
    
      <div class="double-input-container">
        <div class="input-wrapper">
          <label for="date">Dată Transacție *</label>
          <input id="date" formControlName="date" type="date">
          <app-validation-message [control]="transferForm.get('date')!"></app-validation-message>
        </div>
      
        <div class="input-wrapper">
          <label for="amount">Sumă *</label>
          <input id="amount" formControlName="amount" type="number" step="0.01">
          <app-validation-message [control]="transferForm.get('amount')!"></app-validation-message>
        </div>
      </div>
    
      <div class="double-input-container">
        <div class="input-wrapper">
          <label for="description">Descriere</label>
          <textarea id="description" formControlName="description" placeholder="Introduceți Descriere"></textarea>
        </div>
        <div class="input-wrapper"></div>
      </div>
    </div>

    <div class="section-delimiter">
      <h4>Plată</h4>
      <h6 class="descr-subsection">Selectează metodă de plată pentru a face rapoartele mai detaliate.</h6>
      <div class="separator-line"></div>

      <div class="subsection">
        <div class="double-input-container">
          <div class="input-wrapper">
            <label for="paymentMethod">Metodă de Plată *</label>
            <select id="paymentMethod" formControlName="paymentMethod">
              <option *ngFor="let method of methodsOfPayment" [value]="method.name">{{ method.name }}</option>
            </select>
            <app-validation-message [control]="transferForm.get('paymentMethod')!"></app-validation-message>
          </div>
        
          <div class="input-wrapper">
            <label for="reference">Referință</label>
            <input id="reference" formControlName="reference" type="text" placeholder="Referință">
          </div>
        </div>
      </div>
    </div>
    <div class="button-container">
      <button class="button content" type="submit">Salvează Transfer</button>
    </div>
  </div>
</form>