<div class="header">
  <h1>Transfer Nou</h1>
</div>
<form [formGroup]="transferForm" (ngSubmit)="onSubmit()">
  <div>
    <h4>Preferinţe generale</h4>
    <div class="separator-line"></div>

    <div class="subsection">
      <div class="double-input-container">
        <div class="input-wrapper">
          <label for="fromBankAccount">Cont Plătitor</label>
          <select id="fromBankAccount" formControlName="fromBankAccount">
            <option *ngFor="let account of accounts" [value]="account.id">{{ account.name }}</option>
          </select>
        </div>
      
        <div class="input-wrapper">
          <label for="toBankAccountName">Cont Beneficiar</label>
          <select id="toBankAccountName" formControlName="toBankAccountName">
            <option *ngFor="let account of accounts" [value]="account.id">{{ account.name }}</option>
          </select>
        </div>
      </div>
    
      <div class="double-input-container">
        <div class="input-wrapper">
          <label for="date">Dată Transacție</label>
          <input id="date" formControlName="date" type="date">
        </div>
      
        <div class="input-wrapper">
          <label for="amount">Sumă</label>
          <input id="amount" formControlName="amount" type="number" step="0.01">
        </div>
      </div>
    
      <div class="single-input-wrapper">
        <label for="description">Descriere</label>
        <textarea id="description" formControlName="description" rows="3" placeholder="Introduceți Descriere"></textarea>
      </div>
    </div>

    <div class="section-delimiter">
      <h4>Plată</h4>
      <div class="separator-line"></div>

      <div class="subsection">
        <div class="double-input-container">
          <div class="input-wrapper">
            <label for="paymentMethod">Metodă de Plată</label>
            <select id="paymentMethod" formControlName="paymentMethod">
              <option *ngFor="let method of methodsOfPayment" [value]="method.id">{{ method.name }}</option>
            </select>
          </div>
        
          <div class="input-wrapper">
            <label for="reference">Referință</label>
            <input id="reference" formControlName="reference" type="text" placeholder="Referință">
          </div>
        </div>
      </div>
    </div>
    <div class="button-container">
      <button class="button content" type="submit">Salvează Transfer</button>
    </div>
  </div>
</form>