form {
    margin: auto;
  }
  
  div {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input, select, textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  button {
    margin-top: 10px;
    margin-right: 28px;
    height: 45px;
    width: 200px;
  }