form {
  margin: auto;
  margin-bottom: 50px;
}

div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  margin-top: 10px;
}

.add-btn {
  background-color: lightgray;
}

.item-fields {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.item-fields input,
.item-fields select {
  flex: 1;
  min-width: 120px;
  height: 40px;
  padding: 8px;
  box-sizing: border-box;
}

.item-fields button {
  flex: none;
  margin-left: 10px;
}

.overall-total {
  margin-right: 25px;
  font-weight: bold;
  text-align: right;
}

.overall-total input {
  width: auto;
  display: inline-block;
}

::placeholder {
  color: #d8d8d8;
  opacity: 1;
}

.plus-button {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.plus-button button {
  height: 43px;
  background-color: #80b3ff;
  border-color: #80b3ff;
}

::ng-deep .mat-dialog-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-height: 80vh;
}

::ng-deep .mat-dialog-content {
  overflow-y: auto;
  flex: 1 1 auto;
}

::ng-deep .mat-dialog-actions {
  flex-shrink: 0;
}

.inputs-container {
  width: 30%;
  margin-bottom: 15px;
}

.align-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.no-shadow-button {
  box-shadow: none !important;
  border-radius: none !important;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

input {
  border: 1px solid #ddd;
  border-radius: 5px;
}

option {
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
}

select {
  border-radius: 5px;
  border: 1px solid #d8d8d8;
}

.buttons-container {
  display: inline;
}

.buttons-container button {
  margin-right: 25px;
}

.remove-button {
  background-color: #ff6363;
  border: 1px solid #ff6363;
  height: 45px;
  width: 120px;
  border-radius: 3px;
}

.elements-button {
  background-color: #99cb75;
  border: 1px solid #99cb75;
  height: 45px;
  width: 150px;
  border-radius: 3px;
  margin-right: 25px;
}

.submit-button {
  margin-right: 25px;
  background-color: #99cb75;
  border: 1px solid #99cb75;
  height: 45px;
  width: 185px;
  border-radius: 3px;
}
