.example-container {
  height: 84%;
  overflow: hidden !important;

}
.example-sidenav-content {
  display: flex;
  overflow: hidden !important;
  align-items: center;
  justify-content: center;
}
.example-sidenav {
  user-select: none;
}
.full-width {
  width: 100%;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  margin-left: 20px;
}

.subsubmenu {
  padding-left: 16px;
  border-left: 1.5px solid #e8e8e8;
  margin-left: 20px;
}

.submenu.expanded {
  transform: scaleY(1);
}

.left-sidenav {
  overflow: hidden !important;
}

mat-sidenav-container {
  height: 100%;
  width: 100%;
}

/* icons from nav - styles */

.icon-margin {
  margin-right: 12px;
  color: #d3d3d3;
  vertical-align: middle;
}

.icon-meniu {
  color: #818589;
}

.expand-icon {
  vertical-align: middle;
  color: #818589;
}

.text-align {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.border-text {
  border-bottom: 5px;
}

/* nav bar */

.mat-toolbar.example-toolbar {
  display: flex;
  align-items: center;
  position: relative;
}

button[mat-icon-button] {
  margin-right: auto;
}

.toolbar-title-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.example-app-name {
  margin: 0;
}

/* content wrapper */
.main-content-wrapper {
  width: 80%;
  margin: 0 auto;
  transition: margin-left 0.3s;
}

.footer {
  background-color: white;
  text-align: center;
  padding: 4px 0;
  border-top: 1px solid #d3d3d3;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
}

.footer-text {
  color: grey;
  font-size: 12px;
  margin: 0;
  width: 100%;
  text-align: center;
}


.toolbar-image-container {
  display: inline-block;
  margin-left: 10px; /* Adjust as needed for spacing */
}

.toolbar-image {
  width: 40px; /* Adjust the size as needed */
  height: 40px; /* Adjust the size as needed */
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #d3d3d3; /* Optional: Add a border around the image */
}

.toolbar-log-out {
  margin-top: 10px;
  margin-right: 40px;
  background: transparent;
  border: none;
}