
<div class="header">
  <h1>Categorie Noua</h1>
</div>
<form [formGroup]="typeForm" (ngSubmit)="onSubmit()">
  <div>
    <h4>Preferinţe generale</h4>
    <h6 class="descr-subsection">Categoria te ajută să clasifici articolele, veniturile, cheltuielile și alte înregistrări.</h6>
    <div class="separator-line"></div>

    <div class="subsection">
      <div class="double-input-container">
        <div class="input-wrapper">
          <label for="name">Nume</label>
          <input
            id="name"
            formControlName="name"
            type="string"
            placeholder="Introduceți nume"
          />
        </div>
        <div class="input-wrapper">
          <label for="type">Tip</label>
          <select id="type" formControlName="type">
            <option value="" disabled selected>Selectează tip</option>
            <option *ngFor="let type of types" [value]="type.name">
              {{ type.name }}
            </option>
          </select>
        </div>
      </div>

    <div class="color-picker-wrapper">
      <label for="colorPicker">Selectează o culoare:</label>
      <input type="color" id="colorPicker" #colorInput formControlName="selectedColor" class="hidden-color-input" />
      
      <div class="color-display">
        <div [style.background-color]="selectedColor" class="color-circle" (click)="openColorPicker()" ></div> 
      </div>
    </div>
    
    <div class="button-container">
      <button class="button content" type="submit">Salvează</button>
    </div>
  </div>
  