<div class="dashboard-container">
        <div class="header">
                <h1>Dashboard</h1>
                <form [formGroup]="dateRangeForm" (ngSubmit)="onSubmit()" class="form-container">
                        <mat-form-field>
                                <mat-label>Interval de timp</mat-label>
                                <mat-date-range-input [rangePicker]="picker">
                                <input matStartDate placeholder="Start date" formControlName="startDate">
                                <input matEndDate placeholder="End date" formControlName="endDate">
                                </mat-date-range-input>
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-date-range-picker #picker></mat-date-range-picker>
                        </mat-form-field>
                
                        <button mat-stroked-button color="primary" type="submit" class="submit-button">Salveaza</button>
                </form>
        </div>
      
        <!-- Receivables -->
        <div class="info-section">
          <h4>Receivables</h4>
          <p>Total to Receive: {{ aggregatedStatistics.receivables.totalToReceive }}</p>
          <p>Total Open: {{ aggregatedStatistics.receivables.totalOpen }}</p>
          <p>Total Overdue: {{ aggregatedStatistics.receivables.totalOverdue }}</p>
        </div>
      
        <!-- Payables -->
        <div class="info-section">
          <h4>Payables</h4>
          <p>Total to Pay: {{ aggregatedStatistics.payables.totalToPay }}</p>
          <p>Total Open: {{ aggregatedStatistics.payables.totalOpen }}</p>
          <p>Total Overdue: {{ aggregatedStatistics.payables.totalOverdue }}</p>
        </div>
      
        <!-- Accounts Sold -->
        <div class="info-section">
          <h4>Accounts Sold</h4>
          <ul>
            <li *ngFor="let account of aggregatedStatistics.accountsSold">
              {{ account.accountName }}: {{ account.totalSold }}
            </li>
          </ul>
        </div>
      
        <!-- Income by Category Pie Chart -->
        <div>
          <h4>Income by Category</h4>
          <canvas baseChart
            [data]="pieChartIncomeData"
            [options]="pieChartIncomeOptions"
            [type]="'pie'"
            class="chart-canvas-pie">
          </canvas>
        </div>
      
        <!-- Expenses by Category Pie Chart -->
        <div>
          <h4>Expenses by Category</h4>
          <canvas baseChart
            [data]="pieChartExpensesData"
            [options]="pieChartExpensesOptions"
            [type]="'pie'"
            class="chart-canvas-pie">
          </canvas>
        </div>
      
        <!-- Cash Flow Bar Chart -->
        <div class="chart-container-bar">
          <h4>Cash Flow</h4>
          <canvas baseChart
            [data]="barChartData"
            [options]="barChartOptions"
            [type]="'bar'"
            class="chart-canvas-bar">
          </canvas>
        </div>
      </div>