<div class="dashboard-container">
        <div class="header">
                <h1>Dashboard</h1>
                <form [formGroup]="dateRangeForm" (ngSubmit)="onSubmit()" class="form-container">
                        <mat-form-field>
                                <mat-label>Interval de timp</mat-label>
                                <mat-date-range-input [rangePicker]="picker">
                                <input matStartDate placeholder="Start date" formControlName="startDate">
                                <input matEndDate placeholder="End date" formControlName="endDate">
                                </mat-date-range-input>
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-date-range-picker #picker></mat-date-range-picker>
                        </mat-form-field>
                
                        <button mat-stroked-button color="primary" type="submit" class="submit-button">Filtrează</button>
                </form>
        </div>
      
        <!-- Receivables -->
      <div class="card">
        <div class="info-section">
          <h4>Incasări</h4>
          <p>Total de primit: {{ aggregatedStatistics.receivables.totalToReceive }}</p>
          <p>Total deschise: {{ aggregatedStatistics.receivables.totalOpen }}</p>
          <p>Total întârziere: {{ aggregatedStatistics.receivables.totalOverdue }}</p>
        </div>
      </div>  
        
      <div class="card">
        <!-- Payables -->
        <div class="info-section">
          <h4>Plăti</h4>
          <p>Total de plătit: {{ aggregatedStatistics.payables.totalToPay }}</p>
          <p>Total deschise: {{ aggregatedStatistics.payables.totalOpen }}</p>
          <p>Total întârziere: {{ aggregatedStatistics.payables.totalOverdue }}</p>
        </div>
      </div>
        <!-- Accounts Sold -->

      <div class="card">
        <div class="info-section">
          <h4>Sold Conturi</h4>
          <ul>
            <li *ngFor="let account of aggregatedStatistics.accountsSold">
              {{ account.accountName }}: {{ account.totalSold }}
            </li>
          </ul>
        </div>
      </div>

        <!-- Income by Category Pie Chart -->
        <div class="card">
          <h4>Venituri pe categorii</h4>
          <canvas baseChart
            [data]="pieChartIncomeData"
            [options]="pieChartIncomeOptions"
            [type]="'pie'"
            class="chart-canvas-pie">
          </canvas>
        </div>
      
        <!-- Expenses by Category Pie Chart -->
       <div class="card">
        <div>
          <h4>Cheltuieli pe categorii</h4>
          <canvas baseChart
            [data]="pieChartExpensesData"
            [options]="pieChartExpensesOptions"
            [type]="'pie'"
            class="chart-canvas-pie">
          </canvas>
        </div>
      </div> 
        <!-- Cash Flow Bar Chart -->
       <div class="card"> 
        <div class="chart-container-bar">
          <h4>Cash Flow</h4>
          <canvas baseChart
            [data]="barChartData"
            [options]="barChartOptions"
            [type]="'bar'"
            class="chart-canvas-bar">
          </canvas>
        </div>
       </div> 
      </div>