<div class="header">
  <h1>Companie</h1>
</div>
<form [formGroup]="companyForm" (ngSubmit)="onSubmit()">
  <div>
    <h4>Preferinţe generale</h4>
    <div class="separator-line"></div>

    <div class="subsection">
      <!-- First Column -->
      <div class="double-input-container">
        <div class="input-wrapper">
          <div>
            <label for="name">Nume</label>
            <input id="name" formControlName="name" type="text" class="set-border" placeholder="Introduceți Nume"/>
          </div>
          <div>
            <label for="email">Email</label>
            <input id="email" formControlName="email" type="email" placeholder="Introduceți Email"/>
          </div>
          <div class="input-wrapper">
            <label for="phone">Telefon</label>
            <input id="phone" formControlName="phone" type="text" placeholder="Introduceți Telefon"/>
          </div>
  
          <div class="input-wrapper">
            <label for="cui">Cod unic de înregistrare</label>
            <input id="cui" formControlName="cui" type="text" placeholder="Cod unic de înregistrare"/>
          </div>
        </div>
      
        <div class="input-wrapper">
          <div class="image-container">
            <img [src]=imageBase64 alt="Image" class="image">
            
          </div>
          <input type="file" (change)="onImageChange($event)">
        </div>
      </div>
    </div>
  </div>
  
  <div class="section-delimiter">
    <h4>Adresă</h4>
    <div class="separator-line"></div>

    <div class="subsection">
      <div class="single-input-wrapper">
        <label for="address">Adresa</label>
        <textarea id="address" formControlName="address" rows="3" placeholder="Introduceți Adresa" class="container-width"></textarea>
      </div>
      <div class="double-input-container">
        <div class="input-wrapper">
          <label for="city">Oraș</label>
          <input id="city" formControlName="city" type="text" placeholder="Introduceți Oraș"/>
        </div>
        <div class="input-wrapper">
          <label for="postalCode">Cod Poștal</label>
          <input id="postalCode" formControlName="postalCode" type="text" placeholder="Introduceți Cod Poștal"/>
        </div>
      </div>
      <div class="double-input-container">
        <div class="input-wrapper">
          <label for="county">Județ</label>
          <input id="county" formControlName="county" type="text" placeholder="Introduceți Județ"/>
        </div>
        <div class="input-wrapper">
          <label for="country">Țară</label>
          <input id="country" formControlName="country" type="text" placeholder="Introduceți Țară"/>
        </div>
      </div>
    </div>
  </div>

  <div class="button-container">
    <button class="button content" type="submit">Salvează</button>
  </div>
</form>