<div class="header">
  <h1>Companie</h1>
</div>
<form>
  <div>
    <h4>Preferinţe generale</h4>
    <div class="separator-line"></div>

    <div class="subsection">
      <!-- First Column -->
      <div class="double-input-container">
        <div class="input-wrapper">
          <div>
            <label for="name">Nume</label>
            <input id="name" formControlName="name" type="text" class="set-border" placeholder="Introduceți Nume"/>
          </div>
          <div>
            <label for="email">Email</label>
            <input id="email" formControlName="email" type="email" placeholder="Introduceți Email"/>
          </div>
          <div class="input-wrapper">
            <label for="phone">Telefon</label>
            <input id="phone" formControlName="phone" type="text" placeholder="Introduceți Telefon"/>
          </div>
  
          <div class="input-wrapper">
            <label for="website">Cod unic de înregistrare</label>
            <input id="website" formControlName="website" type="text" placeholder="Cod unic de înregistrare"/>
          </div>
        </div>
      
        <div class="input-wrapper">
          <div class="image-container">
              <img src="path/to/image.jpg" alt="Image" class="image">
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class=" section-delimiter">
    <h4>Adresă</h4>
    <div class="separator-line"></div>


    <div class="subsection">
 
        <div class="single-input-wrapper">
          <label for="description">Adresa</label>
          <textarea id="description" placeholder="Introduceți Adresa" rows="3" class="container-width"></textarea>
        </div>
        <div class="double-input-container">
          <div class="input-wrapper">
            <label for="city">Oraș</label>
            <input id="city" formControlName="city" type="text" placeholder="Introduceți Oraș"/>
          </div>
          <div class="input-wrapper">
            <label for="postalCode">Cod Poștal</label>
            <input id="postalCode" formControlName="postalCode" type="text" placeholder="Introduceți Cod Poștal"/>
          </div>
        </div>
        <div class="double-input-container">
          <div class="input-wrapper">
            <label for="couny">Județ</label>
            <input id="couny" formControlName="couny" type="text" placeholder="Introduceți Județ"/>
          </div>
            <div class="input-wrapper">
              <label for="county">Țară</label>
              <input id="county" formControlName="county" type="text" placeholder="Introduceți Țară"/>
            </div>
        </div>
    </div>
  </div>

  <div class="button-container">
    <button class="button content" type="submit">Salvează</button>
  </div>
</form>