<div class="header">
  <h1>Companie</h1>
</div>
<form [formGroup]="companyForm" (ngSubmit)="onSubmit()">
  <div>
    <h4>Preferinţe generale</h4>
    <h6 class="descr-subsection">Această informație este vizibilă în înregistrările pe care le creezi.</h6>
    <div class="separator-line"></div>

    <div class="subsection">
      <!-- First Column -->
      <div class="double-input-container">
        <div class="input-wrapper">
          <div>
            <label for="name">Nume *</label>
            <input id="name" formControlName="name" type="text" class="set-border" placeholder="Introduceți Nume"/>
            <app-validation-message [control]="companyForm.get('name')!"></app-validation-message>
          </div>
          <div>
            <label for="email">Email *</label>
            <input id="email" formControlName="email" type="email" placeholder="Introduceți Email"/>
            <app-validation-message [control]="companyForm.get('email')!"></app-validation-message>
          </div>
          <div class="input-wrapper">
            <label for="phoneNumber">Telefon *</label>
            <input id="phoneNumber" formControlName="phoneNumber" type="text" placeholder="Introduceți Telefon"/>
            <app-validation-message [control]="companyForm.get('phoneNumber')!"></app-validation-message>
          </div>
  
          <div class="input-wrapper">
            <label for="cui">Cod unic de înregistrare *</label>
            <input id="cui" formControlName="cui" type="text" placeholder="Cod unic de înregistrare"/>
            <app-validation-message [control]="companyForm.get('cui')!"></app-validation-message>
          </div>

          <div class="input-wrapper">
            <label for="regCom">Reg. Com. *</label>
            <input id="regCom" formControlName="regCom" type="text" placeholder="Reg. Com."/>
            <app-validation-message [control]="companyForm.get('regCom')!"></app-validation-message>
          </div>
        </div>
      
        <div class="input-wrapper">
          <div class="image-container">
            <img [src]=imageBase64 alt="Image" class="image">
            
          </div>
          <input type="file" (change)="onImageChange($event)">
        </div>
      </div>
    </div>
    <div *ngIf="buttonVisible">
    <button mat-raised-button class="no-shadow-button" type="button" (click)="toggleChangePassword()">Schimbare parolă</button>
  </div>
    <div *ngIf="showChangePassword">
      <h4>Schimbare parolă</h4>
      <div class="separator-line"></div>

      <div [formGroup]="changePasswordForm">
        <div class="double-input-container">
          <div class="input-wrapper">
            <label for="oldPassword">Parola veche *</label>
            <input id="oldPassword" formControlName="oldPassword" type="password" placeholder="Introduceți parola veche"/>
            <app-validation-message [control]="changePasswordForm.get('oldPassword')!"></app-validation-message>
          </div>
          <div class="input-wrapper">
            <label for="newPassword">Parola nouă *</label>
            <input id="newPassword" formControlName="newPassword" type="password" placeholder="Introduceți parola nouă"/>
            <app-validation-message [control]="changePasswordForm.get('newPassword')!"></app-validation-message>
          </div>
          <div class="input-wrapper">
            <label for="repeatNewPassword">Reintroduceți parola nouă *</label>
            <input id="repeatNewPassword" formControlName="repeatNewPassword" type="password" placeholder="Reintroduceți parola nouă"/>
            <app-validation-message [control]="changePasswordForm.get('repeatNewPassword')!"></app-validation-message>
          </div>
        </div>
        <button mat-raised-button class="no-shadow-button" type="button" (click)="onChangePasswordSubmit()">Salvează modificările</button>
      </div>
    </div>
  </div>
  
  <div class="section-delimiter">
    <h4>Adresă</h4>
    <h6 class="descr-subsection">Adresa va fi folosită în facturi, note de plată și alte înregistrări emise.</h6>
    <div class="separator-line"></div>

    <div class="subsection">
      <div class="double-input-container">
        <div class="input-wrapper">
          <label for="address">Adresa *</label>
          <textarea id="address" formControlName="address" placeholder="Introduceți Adresa" class="container-width"></textarea>
          <app-validation-message [control]="companyForm.get('address')!"></app-validation-message>
        </div>
        <div class="input-wrapper"></div>
      </div>
      <div class="double-input-container">
        <div class="input-wrapper">
          <label for="city">Oraș *</label>
          <input id="city" formControlName="city" type="text" placeholder="Introduceți Oraș"/>
          <app-validation-message [control]="companyForm.get('city')!"></app-validation-message>
        </div>
        <div class="input-wrapper">
          <label for="postalCode">Cod Poștal *</label>
          <input id="postalCode" formControlName="postalCode" type="text" placeholder="Introduceți Cod Poștal"/>
          <app-validation-message [control]="companyForm.get('postalCode')!"></app-validation-message>
        </div>
      </div>
      <div class="double-input-container">
        <div class="input-wrapper">
          <label for="county">Județ *</label>
          <input id="county" formControlName="county" type="text" placeholder="Introduceți Județ"/>
          <app-validation-message [control]="companyForm.get('county')!"></app-validation-message>
        </div>
        <div class="input-wrapper">
          <label for="country">Țară *</label>
          <input id="country" formControlName="country" type="text" placeholder="Introduceți Țară"/>
          <app-validation-message [control]="companyForm.get('country')!"></app-validation-message>
        </div>
      </div>
    </div>
  </div>

  <div class="button-container">
    <div class="color-picker-wrapper">
      <label for="colorCodeNavBar">Selectează o culoare:</label>
      <input type="color" id="colorCodeNavBar" #navBarColorInput formControlName="colorCodeNavBar" class="hidden-color-input" />
      
      <div class="color-display">
        <div [style.background-color]="selectedNavBarColor" class="color-circle" (click)="openNavBarColorPicker()" ></div> 
      </div>
    </div>
    <div class="color-picker-wrapper">
      <label for="colorCodeLeftSideBar">Selectează o culoare:</label>
      <input type="color" id="colorCodeLeftSideBar" #leftBarColorInput formControlName="colorCodeLeftSideBar" class="hidden-color-input" />
      
      <div class="color-display">
        <div [style.background-color]="selectedLeftBarColor" class="color-circle" (click)="openLeftBarColorPicker()" ></div> 
      </div>
    </div>
    <app-font-picker (fontSelected)="onFontSelected($event)" formControlName="font"></app-font-picker>
    <button class="button content" type="submit">Salvează</button>
  </div>
</form>