<div class="header">
  <h1>Partener Nou</h1>
</div>
<form [formGroup]="partnerForm" (ngSubmit)="onSubmit()">
  <div>
    <h4>Preferinţe generale</h4>
    <h6 class="descr-subsection">
      Informațiile de contact ale partenerului tău vor apărea în facturi și în
      profilurile acestora.
    </h6>
    <div class="separator-line"></div>

    <div class="subsection">
      <div class="double-input-container">
        <div class="input-wrapper">
          <label for="name">Nume *</label>
          <input
            id="name"
            formControlName="name"
            type="text"
            class="set-border"
            placeholder="Introduceți Nume"
          />
          <app-validation-message [control]="partnerForm.get('name')!"></app-validation-message>
        </div>

        <div class="input-wrapper">
          <label for="email">Email *</label>
          <input
            id="email"
            formControlName="email"
            type="email"
            placeholder="Introduceți Email"
          />
          <app-validation-message [control]="partnerForm.get('email')!"></app-validation-message>
        </div>
      </div>

      <div class="double-input-container">
        <div class="input-wrapper">
          <label for="phoneNumber">Telefon *</label>
          <input
            id="phoneNumber"
            formControlName="phoneNumber"
            type="text"
            placeholder="Introduceți Telefon"
          />
          <app-validation-message [control]="partnerForm.get('phoneNumber')!"></app-validation-message>
        </div>

        <div class="input-wrapper">
          <label for="website">Website</label>
          <input
            id="website"
            formControlName="website"
            type="text"
            placeholder="Introduceți Website"
          />
        </div>
      </div>
      <div class="double-input-container">
        <div class="input-wrapper">
          <label for="reference">Referință</label>
          <input
            id="reference"
            formControlName="reference"
            type="text"
            placeholder="Introduceți Referință"
          />
        </div>
        <div class="input-wrapper">
          <label for="regCom">Reg. Com. *</label>
          <input
            id="regCom"
            formControlName="regCom"
            type="text"
            placeholder="Introduceți Reg. Com."
          />
          <app-validation-message [control]="partnerForm.get('regCom')!"></app-validation-message>
          </div>
        
      </div>

      <div class="double-input-container">
        <div class="input-wrapper">
          <label for="image">Imagine</label>
          <input id="image" type="file" (change)="onImageChange($event)" />
          <img [src]=imageBase64 alt="Image" style="max-width: 200px; max-height: 200px;" class="image">
        </div>
        <div class="input-wrapper"></div>
      </div>
    </div>
  </div>
  <div class="section-delimiter">
    <h4>Facturare</h4>
    <h6 class="descr-subsection">Informatii necesare ale unei facturi.</h6>
    <div class="separator-line"></div>

    <div class="subsection">
      <div class="double-input-container">
        <div class="input-wrapper">
          <label for="cui">CUI *</label>
          <input
            id="cui"
            formControlName="cui"
            type="text"
            placeholder="Introduceți CUI"
          />
          <app-validation-message [control]="partnerForm.get('cui')!"></app-validation-message>
        </div>
        <div class="input-wrapper">
          <label for="postalCode">Cod Poștal</label>
          <input
            id="postalCode"
            formControlName="postalCode"
            type="text"
            placeholder="Introduceți Cod Poștal"
          />
          <app-validation-message [control]="partnerForm.get('postalCode')!"></app-validation-message>
        </div>
      </div>

      <div class="double-input-container">
        <div class="input-wrapper">
          <label for="address">Adresă *</label>
          <input
            id="address"
            formControlName="address"
            placeholder="Introduceți Adresă"
          />
          <app-validation-message [control]="partnerForm.get('address')!"></app-validation-message>
        </div>

        <div class="input-wrapper">
          <label for="country">Țară *</label>
          <input
            id="country"
            formControlName="country"
            type="text"
            placeholder="Introduceți Țară"
          />
          <app-validation-message [control]="partnerForm.get('country')!"></app-validation-message>
        </div>
      </div>
      <div class="double-input-container">
        <div class="input-wrapper">
          <label for="county">Judet *</label>
          <input
            id="county"
            formControlName="county"
            type="text"
            placeholder="Introduceți Judet"
          />
          <app-validation-message [control]="partnerForm.get('county')!"></app-validation-message>
        </div>
        <div class="input-wrapper">
          <label for="city">Oraș *</label>
          <input
            id="city"
            formControlName="city"
            type="text"
            placeholder="Introduceți Oraș"
          />
          <app-validation-message [control]="partnerForm.get('city')!"></app-validation-message>
        </div>
      </div>
    </div>
  </div>
  <div class="button-container" *ngIf="dialogRef">
    <button class="button-content-save" mat-button type="submit">
      Salvează Partener
    </button>
    <button class="button-content-remove" mat-button mat-dialog-close>
      Renuntă
    </button>
  </div>
  <div class="button-container" *ngIf="!dialogRef">
    <button class="button-content-save" type="submit">Salvează Partener</button>
  </div>
</form>
