
form {
  margin: auto;
}

div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.button {
  align-self: flex-end;
  width: 200px;
  height: 50px;
  border-radius: 5%;
  background-color: #99cb75;
  cursor: pointer;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  margin-top: 10px;
}

::placeholder {
  color: #D8D8D8; /* Set the placeholder text color to light grey */
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: lightgrey;
}

.selection-option {
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 0 1 auto;
}

.button-container-m {
  display: flex;
  justify-content: flex-start; /* Align button to the right */
}

.selection-option {
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 0 1 auto;
}

.selection-option.selected {
  background-color: #4682b4;
  color: white;
}

.checkbox-margin {
  margin-top: 20px;
}

.input-field {
  margin-top: 6px;
}