.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
}

.header {
  padding-bottom: 6px;
}

.selection-container {
  margin-bottom: 20px;
}

.margin-label {
  margin-left: 10px;
}

.selection-option {
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 0 1 auto;
}

.selection-option.selected {
  background-color: #4682b4;
  color: white;
}

.input-row {
  display: flex;
  justify-content: space-between;
}

.input-container {
  width: 45%;
}

.input-size {
  height: 70px;
}

label {
  margin-bottom: 5px;
  margin-right: 5px;
}

.description {
  height: 100px;
  width: 100%;
  max-width: 100%;
}

.mat-form-field.description {
  width: 100%;
}

.button {
  align-self: flex-end;
  width: 200px;
  height: 50px;
  border-radius: 5%;
  background-color: #6ea152;
  cursor: pointer;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

.button-container-m {
  display: flex;
  justify-content: flex-start; /* Align button to the right */
}


.checkbox-upd {
  margin-right: 5px;
}

.input-field {
  margin-top: 10px;
}
