.table-container {
    margin: 0 5%;
  }

  .input-icons {
    display: flex;
    align-items: center;
  }
  
  .icon-container {
    margin-left: auto; /* Pushes the icons to the right */
  }

  .header {
    margin-left: 5%;
    margin-right: 5%;
  }

  ::ng-deep .mat-form-field-underline {
    display: none;
  }