/* You can add global styles to this file, and also import other style files */
@import "@fortawesome/fontawesome-free/css/all.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

.table-container {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

/* input style */

.input-container {
  position: relative;
  margin-bottom: 1rem;
}

.legacy-input {
  width: 100%;
  padding: 8px 0;
  border: none;
  border-bottom: 1px solid #d3d3d3;
  background: none;
  font-family: inherit;
  font-size: 1rem;
}

.legacy-input:focus {
  outline: none;
  border-bottom: 1.5px solid #999;
}

.legacy-input::placeholder {
  color: #999;
}

.input-container::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: currentColor;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.legacy-input:focus ~ .input-container::after {
  transform: scaleX(1);
}

/* Custom widths for inputs */
.input-container.small {
  width: 200px; /* Adjust width as needed */
}

.input-container.medium {
  width: 400px; /* Adjust width as needed */
}

.input-container.large {
  width: 700px; /* Adjust width as needed */
}
