<h1>Implicit</h1>
<div class="section">
    <h2>Preferinte generale</h2>
    <div class="row">
      <!-- Second Column -->
 
        
        <div class="column">
            <mat-form-field class="full-width">
              <mat-label>Cont</mat-label>
              <input matInput placeholder="Cont">
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Taxa</mat-label>
              <input matInput placeholder="Taxa">
            </mat-form-field>
          </div>
          <div class="column">
            <mat-form-field class="full-width">
              <mat-label>Moneda</mat-label>
              <input matInput placeholder="Moneda">
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Metoda de plata</mat-label>
              <input matInput placeholder="Metoda de plata">
            </mat-form-field>

          </div>
    </div>
  </div>

  <div class="section">
    <h2>Categorie</h2>
    <div class="row">
      <!-- Second Column -->
 
        
        <div class="column">
            <mat-form-field class="full-width">
              <mat-label>Venituri pe categorii</mat-label>
              <input matInput placeholder="Venituri pe categorii">
            </mat-form-field>
           
          </div>
          <div class="column">
            <mat-form-field class="full-width">
              <mat-label>Cheltuieli pe categorii</mat-label>
              <input matInput placeholder="Cheltuieli pe categorii">
            </mat-form-field>


          </div>
    </div>
  </div>

  <div class="section">
    <h2>Alta</h2>
    <div class="row">
      <!-- Second Column -->
 
        
        <div class="column">
            <mat-form-field class="full-width">
              <mat-label>Limba</mat-label>
              <input matInput placeholder="Limba">
            </mat-form-field>
           
          </div>
          <div class="column">
            <mat-form-field class="full-width">
              <mat-label>Inregistrari pe pagina</mat-label>
              <input matInput placeholder="Inregistrari pe pagina">
            </mat-form-field>


          </div>
    </div>
  </div>