<div class="header">
  <h1>Implicit</h1>
</div>
<form>
  <div>
    <h4>Preferinte generale</h4>
    <div class="separator-line"></div>

    <div class="subsection">
        <div class="double-input-container">
            <div class="input-wrapper">
              <label for="cont">Cont</label>
              <input id="cont" formControlName="cont" type="text" class="set-border" placeholder="Introduceți Cont"/>
            </div>
            <div class="input-wrapper">
              <label for="taxa">Taxa</label>
              <input id="taxa" formControlName="taxa" type="text" class="set-border" placeholder="Introduceți Taxa"/>
            </div>
        </div>
        <div class="double-input-container">
            <div class="input-wrapper">
              <label for="moneda">Moneda</label>
              <input id="moneda" formControlName="moneda" type="text" class="set-border" placeholder="Introduceți Moneda"/>
            </div>
            <div class="input-wrapper">
              <label for="metoda">Metoda de plata</label>
              <input id="metoda" formControlName="metoda" type="text" class="set-border" placeholder="Introduceți Metoda de Plata"/>
            </div>
        </div>
    </div>
  

    <div class="section-delimiter">
      <h4>Categorie</h4>
      <div class="separator-line"></div>

      <div class="subsection">
        <div class="double-input-container">
          <div class="input-wrapper">
              <label for="venit">Venituri pe Categorii</label>
              <input id="venit" formControlName="venit" type="text" placeholder="Introduceți Venituri pe Categorii"/>
          </div>
          <div class="input-wrapper">
              <label for="cheltuieli">Cheltuieli pe Categorii</label>
              <input id="cheltuieli" formControlName="cheltuieli" type="text" placeholder="Introduceți Cheltuieli pe Categorii"/>
          </div>
          </div>
      </div>
    </div>

    <div class="section-delimiter">
      <h4>Alta</h4>
      <div class="separator-line"></div>

      <div class="subsection">
          <div class="double-input-container">
              <div class="input-wrapper">
                <label for="limba">Limba</label>
                <input id="limba" formControlName="limba" type="text" placeholder="Introduceți Limba"/>
              </div>
              <div class="input-wrapper">
                <label for="inregistrari">Inregistrari pe Pagina</label>
                <input id="inregistrari" formControlName="inregistrari" type="text" placeholder="Introduceți Inregistrari pe Pagina"/>
              </div>
          </div>
      </div>
    </div>
  </div>
  <div class="button-container">
    <button class="button content" type="submit">Salvează</button>
  </div>
</form>