.table-container {
    margin: 0 5%;
  }

  .header {
    margin-left: 5%;
    margin-right: 5%;
  }
  
  mat-paginator {
    background-color: #fafafa;
  }
  
  table {
    background-color: #fafafa;
  }